
*{
  margin: 0;
  padding: 0;
}

main{
  display: flex;
  gap: 50px;
  /* justify-content: center; */
  width: 70%;
  margin: 0 auto;
}

#users{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 30%;
}
#users li{
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
p{
  color: white;
  font-size: 20px;
  padding-top: 50px;
}
app-tasks{
  width: 70%;
}
